<% @jobs.each do |job|%>
<h2><%= link_to "#{job.title}", job_path(job) %></h2>
<%= link_to "Delete", job_path(job), :confirm =>"Are you sure?", :method => :delete %>
<br />
<% end %>
<%=link_to "Back", jobs_path %>