<html>
<head>
  <title>
  </title>
<head>
<body>
  Hello, <%= @user.name %>
  You have been selected for interview on.
  <%= image_tag attachments['map.jpg'].url, :alt => 'MAP', :id => 'map' %>
</body>
</html>